/* style table */
.Payment-Man-Table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}


/* style div to make scrollable */
.Payments-Scroll-Div {
    overflow-y: auto;
    height: 65vh;
}