/* style table */
.Payment-Man-Table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid lightblue;
    border-collapse: collapse;

    /* TODO make scrollable */
}

